*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#canvas{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#titleForm{
    position: relative;
    z-index: 1;
    
}
#playerBoard{
    position: relative;
    left: 20px;
    z-index: 1;
    display: none;
    width: 10%;
    padding: 5px;
    background-color: #0000005d;
}
/* #canvas:hover{
    cursor: none;
} */